BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 80
SpaceAfterCStyleCast: true
SpacesBeforeTrailingComments: 1
SpaceBeforeParens: ControlStatements
MacroBlockBegin: ""
MacroBlockEnd: ""
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
IndentCaseLabels: true
AlignOperands: true
AlignTrailingComments: true
ContinuationIndentWidth: 4
